import json
import os
import operator
import uuid
from typing import Any, Dict, List, Tuple, TypedDict, Optional, Annotated, Literal
import requests
import yaml

from dotenv import load_dotenv
from pydantic import BaseModel, Field
from langchain_core.messages import HumanMessage, SystemMessage, ToolMessage, AIMessage, BaseMessage
from langchain_core.tools import tool
from langchain_openai import ChatOpenAI
from langchain_anthropic import ChatAnthropic
from langchain_ollama import ChatOllama
from langgraph.graph import StateGraph, START, END
from langgraph.types import Command
from langfuse.langchain import CallbackHandler
load_dotenv()